@media screen and (max-width: 600px) {
	body {
		font-size: 4vw;
	}
}
@media screen and (min-width: 601px) {
	body {
		font-size: 1.5vw;
	}
}
@media screen and (min-width: 901px) {
	body {
		font-size: 1vw;
	}
}

body {
	background-color: #ffffff;
	margin: 0px;
	font-family: "Roboto", sans-serif;
}
html,
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
}
